name: build

on: [push,pull_request,workflow_dispatch]

jobs:
  Windows:
    name: ${{ matrix.config }} Windows ${{ matrix.arch }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64]
        include:
          - arch: x86_64
            msystem: MINGW64

    steps:
    - uses: msys2/setup-msys2@v2
      id: setup
      with:
        install: base-devel mingw-w64-x86_64-gcc
        msystem: ${{ matrix.msystem }}
        path-type: minimal
        release: true

    - uses: actions/checkout@v3

    - name: Build
      shell: msys2 {0}
      run: |
        make CXX=x86_64-w64-mingw32-g++ CXXFLAGS="-static -Wall" all

    - name: Move Artifact
      run: |
        mkdir artifact/
        mv build/*.exe artifact/

    - name: Generate Artifact Name
      run: |
        echo "ARTIFACT_NAME=$(echo bsp2gltf_`date -u -Idate`_`git rev-parse --short HEAD`_Windows_${{ matrix.arch }})" >> $GITHUB_ENV

    - uses: actions/upload-artifact@v3
      with:
        name: ${{ env.ARTIFACT_NAME }}
        path: artifact/
        if-no-files-found: error


  Linux:
    name: ${{ matrix.config }} Linux ${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64]

    steps:
    - uses: actions/checkout@v3

    - name: Build
      run: |
        make CXXFLAGS=-Wall all

    - name: Move Artifact
      run: |
        mkdir artifact/
        mv build/*.exe artifact/

    - name: Generate Artifact Name
      run: |
        echo "ARTIFACT_NAME=$(echo bsp2gltf_`date -u -Idate`_`git rev-parse --short HEAD`_Linux_${{ matrix.arch }})" >> $GITHUB_ENV

    - uses: actions/upload-artifact@v3
      with:
        name: ${{ env.ARTIFACT_NAME }}
        path: artifact/
        if-no-files-found: error
